version: "3.9"

services:

  mysql:
    image: mysql:8
    container_name: mysql-db
    restart: always
    env_file:
      - .env
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      retries: 5
      timeout: 5s

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

  auth-service:
    build: ../auth-service
    ports:
      - "8081:8081"
    depends_on:
      mysql:
        condition: service_healthy
    env_file:
      - .env

  department-service:
    build: ../department-service
    ports:
      - "8082:8082"
    depends_on:
      mysql:
        condition: service_healthy
    env_file:
      - .env

  employee-service:
    build: ../employee-service
    ports:
      - "8083:8083"
    depends_on:
      mysql:
        condition: service_healthy
      rabbitmq:
        condition: service_started
    env_file:
      - .env

  leave-service:
    build: ../leave-service
    ports:
      - "8084:8084"
    depends_on:
      mysql:
        condition: service_healthy
      rabbitmq:
        condition: service_started
    env_file:
      - .env

  notification-service:
    build: ../notification-service
    ports:
      - "8085:8085"
    depends_on:
      rabbitmq:
        condition: service_started
    env_file:
      - .env

volumes:
  mysql_data: